* {
  margin: 0;
}

html,
body {
  height: 100%;
}

// .temp {
//     display: grid;
//     // fr which stands for fraction (free space)
//     grid-template-columns: 7fr 11fr;
// }

// create layout using grid areas

header,
aside,
section,
main,
article,
header,
footer {
  font-size: 3em;
  text-transform: capitalize;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  // you can use any name for value here
  grid-area: header; // this is just a name
  background-color: #e76565;
}

aside {
  grid-area: aside;
  background-color: #23f20c;
}

main {
  grid-area: main;
  background-color: #23cfee;
}

section {
  grid-area: section;
  background-color: #c21ef0;
}

article {
  grid-area: article;
  background-color: #ecf00d;
}

footer {
  grid-area: footer;
  background-color: #f92323;
}

.home {
  height: 100%;
  display: grid;
  gap: 5px;

  @media (min-width: 1800px) {
    grid-template-columns:250px 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 150px;
    grid-template-areas:
      "aside header header header"
      "aside main section article"
      "aside footer footer footer";
  }

  @media (max-width: 1800px) and (min-width: 1000px) {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 120px 1fr 3fr 150px;
    grid-template-areas: 
    "header header header"
    "aside aside aside"
    "article main section"
    "footer footer footer"
    ;
  }
  @media(max-width: 1000px) and (min-width: 600px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 1fr 1fr 1fr 150px;
    grid-template-areas: 
    "header header"
    "aside main"
    "section article"
    "section article"
    "footer footer"
    ;
  }

  @media(max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 1fr 1fr 1fr 150px;
    grid-template-areas: 
    "header"
    "aside"
    "main"
    "section"
    "article"
    "footer"
    ;
  }
}

// .home {
//     height: 100%;
//     display: grid;
//     gap: 5px;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-template-rows: 120px 1fr 200px;
//     grid-template-areas:
//      "header footer footer footer"
//      "header section section article"
//      "main main aside article"
//     ;
// }
